@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700&family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: hsl(212, 45%, 89%);    
    display: flex;
    justify-content: center;
    align-content: center;
}
section{
    background-color: #fff;
    width: 300px;
    border-radius: 20px;
}
figure img{
    width: 270px;
    border-radius: 20px;
}