@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Poppins:wght@400;600&display=swap');
:root{
    --soft-blue:hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-BG:hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box22;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Outfit' sans-serif;
    background: var(--main-BG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    margin: 1.25rem;
}
hr{
    border-color: var(--soft-blue);
}
.container{
    background: var(--card-BG);
    padding: 1.25rem;
    border-radius: 20px;
    box-shadow: 1px 44px 59px -35px rgba(0,0,0,0.61);
}
.container .equilibrium{
    border-radius: 20px;
    margin-bottom: 2rem;
}
.container h1{
    color: white;
    margin-bottom: 1rem;
    text-align: start;
    font-size: 1.8rem;
}
.container p{
    color: var(--soft-blue);
    font-size: 18px;
}
ul{
    list-style: none;
}
.details{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    color: var(--soft-blue);
}
ul img{
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.cyan{
    color: var(--cyan);
}
.avatar{
    border-radius: 50%;
    border: 2px solid #fff;
    width:30px;    
    margin:15px 10px 0 0;
}
.profile{
    display: flex;
    align-items: center;
    text-align: center;
}
.profile li p{
    margi-top: 30px;
}
b{
    color: white ;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }